body {
  background-image: url("../images/solid_@2X.png");
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
  background-color: #4aaaa5;
  float: left;
  color: white;
  height: 50px;
  margin-top: 0;
  margin-left: 130px;
  padding: 20px 10px 10px 10px;
}

#heading {
  color: #4aaaa5;
}

.nav {
  clear: both;
  background-color: white;
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 80px;
}

.left {
  float: right;
  color: #777777;
}

.center {
  float: right;
  color: #777777;
}

.right {
  float: right;
  color: #777777;
}

.container {
  overflow: auto;
  clear: both;
  background-color: white;
  width: 960px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 275px;
  font-family: Arial, Helvetica, sans-serif;
}

.right-buttons {
  margin-right: 130px;
  margin-top: 30px;
  float: right;
}

.right-buttons a {
  color: #777777;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  line-height: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#profile-image {
  float: left;
  height: 175px;
  width: auto;
  padding-bottom: 20px;
  padding-right: 20px;
}

.content {
  color: #777777;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #777777;
  color: white;
  text-align: center;
  border-top-color: #4aaaa5;
  border-top-style: solid;
  border-top-width: 6px;
}

/* form in contact page */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}

input[type=submit]:hover {
  background-color: #357a77;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=textarea], select {
  height: 200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* table on portfolio */

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr img {
  width: 300px;
  height: 200px;
}

.portfolio-table {
  position: relative;
}

.tabletext1 {
  background-color: #4aaaa5;
  position: absolute;
  width: 300px;
  height: 50px;
  line-height: 10px;
  color: white;
  top: 150px;
  text-align: center;
}

.tabletext2 {
  background-color: #4aaaa5;
  position: absolute;
  width: 300px;
  height: 50px;
  line-height: 10px;
  color: white;
  top: 150px;
  text-align: center;
}

.tabletext3 {
  background-color: #4aaaa5;
  position: absolute;
  width: 300px;
  height: 50px;
  line-height: 10px;
  color: white;
  top: 370px;
  text-align: center;
}

.tabletext4 {
  background-color: #4aaaa5;
  position: absolute;
  width: 300px;
  height: 50px;
  line-height: 10px;
  color: white;
  top: 370px;
  text-align: center;
}

.tabletext5 {
  background-color: #4aaaa5;
  position: absolute;
  width: 300px;
  height: 50px;
  line-height: 10px;
  color: white;
  bottom: 20px;
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 980px) {
  .container {
    width: 60%;
    height: auto;
    margin: 0px;
    margin-bottom: 275px;
  }
  h1.name {
    margin-left: 0;
  }
  tr img {
    width: 100%;
    height: auto;
  }
  .tabletext1 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 100px;
    text-align: center;
  }
  .tabletext2 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 100px;
    text-align: center;
  }
  .tabletext3 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 280px;
    text-align: center;
  }
  .tabletext4 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 280px;
    text-align: center;
  }
  .tabletext5 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 93%;
    height: auto;
    margin: 0px;
    margin-bottom: 275px;
    align-content: center;
  }

  .right-buttons {
    margin-right: 0;
  }

  h1.name {
    margin-left: 0;
  }
  tr img {
    width: 100%;
    height: auto;
  }
  .tabletext1 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 160px;
    text-align: center;
  }
  .tabletext2 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 160px;
    text-align: center;
  }
  .tabletext3 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 420px;
    text-align: center;
  }
  .tabletext4 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 420px;
    text-align: center;
  }
  .tabletext5 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47.5%;
    height: auto;
    line-height: 10px;
    color: white;
    bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 60%;
    height: auto;
    margin: 0px;
    margin-bottom: 275px;
  }
  h1.name {
    margin-left: 0;
  }
  tr img {
    width: 100%;
    height: auto;
  }
  .tabletext1 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 100px;
    text-align: center;
  }
  .tabletext2 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 100px;
    text-align: center;
  }
  .tabletext3 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 280px;
    text-align: center;
  }
  .tabletext4 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 280px;
    text-align: center;
  }
  .tabletext5 {
    background-color: #4aaaa5;
    position: absolute;
    width: 46.5%;
    height: auto;
    line-height: 10px;
    color: white;
    bottom: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .name {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .container {
    width: 93%;
    height: auto;
    margin: 0px;
    margin-bottom: 275px;
    align-content: center;
  }

  .right-buttons {
    margin-right: 0;
    background-color: white;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
  }

  h1.name {
    margin-left: 0;
  }

  tr img {
    width: 100%;
    height: auto;
  }
  .tabletext1 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 130px;
    text-align: center;
  }
  .tabletext2 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 130px;
    text-align: center;
  }
  .tabletext3 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 350px;
    text-align: center;
  }
  .tabletext4 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47%;
    height: auto;
    line-height: 10px;
    color: white;
    top: 350px;
    text-align: center;
  }
  .tabletext5 {
    background-color: #4aaaa5;
    position: absolute;
    width: 47%;
    height: auto;
    line-height: 10px;
    color: white;
    bottom: 30px;
    text-align: center;
  }
}